body {
  margin: 0;
  padding: 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0, 75px, 0, 75px;
} 

/* Typography */ 

h1 { 
  font-size: 64px; 
  font-weight: bold; 
}  

h2 { 
  font-size: 36px;
} 

h3 { 
  font-size: 28px;
}  

h4 { 
  font-size: 24px;  
  text-transform: capitalize; 
  letter-spacing: 6%; 
} 

h5 { 
  font-size: 20px;
}  


p { 
  font-size: 16px;
} 

/* colors */ 

:root {
  --primary-color: #E50914; 
  --white: #FFFFFF; 
  --linkcolor: #0F0BE6; 
  --fadeout: #ACAAAA;
} 

.bg-red {
  background-color: var(--primary-color);
}  

.bg-lightred{
  background: rgba(157, 42, 30, 0.04);
}

.color-red {
  color: var(--primary-color);
} 

.color-link{
  color: var(--linkcolor);
} 

.fadeout {
  color: var(--fadeout);
}

/* spacing */ 

.margin-top-S{
  margin-top: 16px;
} 

.margin-top-M{
  margin-top: 24px;
} 

.margin-top-L{
  margin-top: 32px;
} 

.margin-top-XL{
  margin-top: 64px;
} 

.margin-top-XXL{
  margin-top: 96px;
}

.padding-S{
  padding: 16px;
}  

.padding-M{
  padding: 24px;
}  

.padding-L{
  padding: 32px;
} 


/* rows and columns and flex */ 

.space_between {
  display: flex; 
  justify-content: space-between;
} 

.space_evenly {
  display: flex; 
  justify-content: space-evenly;
} 

.space_evenly-yaxis {
  display: flex; 
  align-content: space-evenly;
}  

.space_between-yaxis {
  display: flex; 
  align-content: space-between;
}  

.space_center {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  align-content: center; 
} 

.flex-start {
  display: flex; 
  align-items: flex-start;
}

.col {
  display: flex; 
  flex-direction: column;
} 

.row {
  display: flex;
}

/* border radius */ 

.circle{
  border-radius: 90px;
}




/*   Components   */ 


/*   Button      */ 
.buttonSmall {
  background-color: var(--primary-color); 
  width: 104px; 
  height: 52px; 
  border-radius: 90px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center;
} 

.buttonMedium { 
  background-color: var(--primary-color); 
  width: 142px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center;
}  

.buttonMediumSecondary { 
  background-color: var(--white); 
  color: var(--primary-color); 
  border-color: var(--primary-color);
  width: 142px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center;
}  

.buttonLarge { 
  background-color: var(--primary-color); 
  width: 310px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center;
} 

.buttonLargeSecondary { 
  background-color: var(--white); 
  color: var(--primary-color); 
  border-color: var(--primary-color);
  width: 310px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center;
}  
 

.buttonLargeWhite { 
  background-color: var(--white); 
  border-color: black;
  width: 310px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center;
}  



/* forms  */

.stroke{ 
  stroke: #C7C7C7; 
  stroke-width: 1px;
} 

.border{
  width:125px; 
  height:0px; 
  border: 1px solid #E5E5E5;
}

/* text overlay */ 

.textglass {
  background: rgba(0, 0, 0, 0.32); 
  height: 100px; 
  backdrop-filter: blur(44px); /* has minimal browser support test it before using */ 
  text-align: center;
} 

.imageoverlay {
  background: rgba(0, 0, 0, 0.22);
}