*{
  margin: 0; 
  padding: 0;
}

body { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}  
html{
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100%; 
    
  
}

/* Typography */ 

h1 { 
  font-size: 3rem; 
  font-weight: bold;    
  line-height: 1;     
  /* why did margin 0 solve it?? */
}  

h2 { 
  font-size: 2.25rem;
} 

h3 { 
  font-size: 1.75rem;
}  

h4 { 
  font-size: 1.5rem;  
  text-transform: uppercase; 
  letter-spacing: 3px;  
} 

h5 { 
  font-size: 1.25rem;
}  


p { 
  font-size: 1rem;
}     

.bold {
  font-weight: bold;
}

ul{
  list-style: square;
}
a {
  text-decoration: none; 
  color: black; 
  font-size: 1.5rem;
}

a:hover {
  color: var(--primary-color);
} 

header {
  background-color: var(--white); 
  box-shadow: 0 4px 7px rgba(0, 0, 0, .5);
}


/* colors */ 

:root {
  --primary-color: #E50914; 
  --white: #FFFFFF; 
  --linkcolor: #0F0BE6; 
  --fadeout: #ACAAAA; 
  --spacingone: 1rem ;
  --spacingtwo: 1.5rem; 
  --spacingthree: 2rem; 
  --spacingfour: 3rem; 
  --spacingfive: 4rem; 
  --spacingsix: 6rem; 
} 

.bg-red {
  background-color: var(--primary-color);
}  

.bg-lightred{
  background: rgba(157, 42, 30, 0.04);
}

.color-red {
  color: var(--primary-color);
} 

.color-link{
  color: var(--linkcolor);
} 

.fadeout {
  color: var(--fadeout);
}

.white {
  color: var(--white);
}

/* spacing */ 

.marginXS {
  margin: 0.5rem;
}

.margin-top-S{
  margin-top: var(--spacingone);
}  


.margin-top-M{
  margin-top: var(--spacingtwo);
} 

.margin-top-L{
  margin-top: var(--spacingthree)
} 

.margin-top-XL{
  margin-top: var(--spacingfive);
} 

.margin-top-XXL{
  margin-top: var(--spacingsix);
}

.margin-bottom-S{
  margin-bottom: var(--spacingone);
}  


.margin-left-S{
  margin-left: var(--spacingone);
} 

.margin-left-M{
  margin-left: var(--spacingtwo);
} 

.margin-left-L{
  margin-left: var(--spacingthree)
} 

.margin-left-XL{
  margin-left: var(--spacingfive);
} 

.margin-left-XXL{
  margin-left: var(--spacingsix);
} 
.pagemarginright{ 
  margin-Right: 5%
} 

.pagemarginleft {
  margin-left: 5%;
}

.paddingright{ 
  padding-Right: 5%
} 

.paddingleft {
  padding-left: 5%;
} 

.padding-S{
  padding: var(--spacingone);
}   

.padding-top-S{
  padding-top: var(--spacingone);
}   

.padding-top-M{
  padding-top: var(--spacingtwo);
}   

.padding-bottom-S{
  padding-bottom: var(--spacingone);
}   

.padding-bottom-M{
  padding-bottom: var(--spacingtwo);
}  

.padding-M{
  padding: var(--spacingtwo);
}  

.padding-L{
  padding: var(--spacingthree);
}  

.paddingbottom{ 
  padding-bottom: var(--spacingfour);
}
 
.gapS {
  gap: 1rem;
} 

.gapM {
  gap: 2rem;
}





/* rows and columns and flex */ 

.textcenter {
  text-align: center;
} 

.web-none {
  display: none;
}
.flexwrap {
  flex-wrap: wrap;
}

.space_between {
  justify-content: space-between;
} 

.space_evenly {
  justify-content: space-evenly;
} 

.space_evenly-yaxis {
  display: flex; 
  align-content: space-evenly;
}  

.space_between-yaxis {
  display: flex; 
  align-content: space-between;
}  

.space_center {
  display: flex; 
  justify-content: center; 
   align-items: center;  
  align-content: center; 
}  

.center {
  display: flex; 
  align-items: center;
}  

.colcenter {
  align-content: center;
}

.left { 
  display: flex;
  align-content: flex-start;
  align-items: flex-start; 
  justify-content: flex-start;
} 

.right { 
  align-content: flex-end;
  align-items: flex-end; 
  justify-content: flex-end;
}

.flex-start {
  display: flex; 
  align-items: flex-start;
} 

.bottomofcol { 
  display: flex;
  align-content: flex-end; 
  align-items: flex-end; 
  justify-content: flex-end;
}



.col {
  display: flex; 
  flex-direction: column;
} 

.row {
  display: flex;
} 

/* column width */ 

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 0.5%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: 0 0 100%;
}

/* border radius */ 

.circle{
  border-radius: 90px;
}




/*   Components   */ 


/*   Button      */ 

.buttonLink{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  line-height: 41px; 
  color: var(--primary-color); 
} 

.buttonSmall {
  background-color: var(--primary-color); 
  color: var(--white);
  width: 47%; 
  height: 45px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  border-width: 0; 
  border-style: none; 
  cursor: pointer;
} 

.buttonSmallSecondary {
  background-color: var(--white); 
  color: var(--primary-color); 
  border-color: var(--primary-color);
  width: 47%; 
  height: 45px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  border-width: 2px; 
  border-style: solid;
} 

.buttonMedium { 
  background-color: var(--primary-color);  
  color: var(--white);
  width: 142px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  border-width: 0; 
  border-style: none; 
  cursor: pointer;
}  

.buttonMediumSecondary { 
  background-color: var(--white); 
  color: var(--primary-color); 
  border-color: var(--primary-color);
  width: 142px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  border-style: solid;  
  cursor: pointer;
}  

.buttonLarge { 
  background-color: var(--primary-color);  
  color: var(--white);
  width: 310px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  border-width: 0; 
  border-style: none;
} 

.buttonLargeSecondary { 
  background-color: var(--white); 
  color: var(--primary-color); 
  border-color: var(--primary-color);
  width: 310px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  
}  
 

.buttonLargeWhite { 
  background-color: var(--white);  
  color: var(--black);
  border-color: rgb(102, 102, 102); 
  box-shadow: none; 
  width: 310px; 
  height: 53px; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  
}  


.imagesize_small {
  width: 24px; 
  height: auto;
} 

.imagesize_facebook {
  width: 12px; 
  height: auto;
}

.imagesize_large {
  width: 52px; 
  height: auto;
} 

.portrait {
  width: 400px; 
  height: auto;
}  

.portrait2 {
  width: 150px; 
  height: 150px; 
}

.imagesize_cover {
  width: 300px; 
  height: auto; 
}  

.backgroundcover { 
  
  width: 100%;
  height: fit-content;
  background-attachment: fixed; 
  background-position: 80%;   
  background-repeat: no-repeat; 
  z-index: 1;
} 

.backgroundcover1 { 
  background: url(./assests/ingred.jpeg); 
  background-size: cover; 
  height: 410px;
  background-attachment: fixed; 
  background-position: 80%;   
  background-repeat: no-repeat; 
  z-index: 1;
}  

/* linear-gradient(rgba(177, 175, 177, 0.8), rgb(177, 175, 177, 0.8)), */ 



/* HEIGHT / WIDTH UTILS */

.widthauto {
  width: auto;
} 

.widthfit {
  width: max-content;
}
.w-100 {
  width: 100%;
} 

.w-90 {
  width: 90%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
} 

.w-20 {
  width: 20%;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
} 

.heightfit {
  height: fit-content;
} 

.h-100 {
  height: 100%;
} 
/* forms  */

#Menu{
  height: 24px;
}
.stroke{ 
  stroke: #C7C7C7; 
  stroke-width: 1px;
}  

.border1 { 
  border: 1px solid #E5E5E5;
}

.border{
  width:125px; 
  height:0px; 
  border: 1px solid #E5E5E5;
}

/* flex grow */ 

.flex1 {
  flex: 1 15%
} 

.flex2 {
  flex: 2 60% 
}

/* text overlay */ 

.textglass {
  background: rgba(0, 0, 0, 0.32); 
  height: 100px; 
  backdrop-filter: blur(44px); /* has minimal browser support test it before using */ 
  text-align: center;
} 

.imageoverlay {
  background: rgba(0, 0, 0, 0.22);
}  

.hr{
  border: none;
height: 1px;
/* Set the hr color */
color: rgb(102, 102, 102); /* old IE */ 
background-color: #333;
}


#coveringred {
  display: flex; 
  align-content: flex-end;
width: 100%;
height: 98px;
z-index: 5; 
background: rgba(0, 0, 0, 0.32);
backdrop-filter: blur(22px);
} 

#a-0 {
  font-size: 0;
}

.shadow {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.test {
  background-color: #0F0BE6;
} 

.test1 {
  background-color: pink;
} 

.test2 {
  background-color: orange;
} 


#card1 {
 width: 285px; 
 align-items: center;
 
}
#card2 {
  padding-top: 0;  
  height: 230px;
} 

#card1 img {
  height: 285px;
} 


.icon-size {
  width: 30px; 
  height:30px; 
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} 

.styled-table tr th {
  background-color: rgba(241, 10, 10, 0.8);
  color: var(--white); 
  font-weight: 800;
  text-align: left;  
  border-bottom: thin solid #dddddd; 
  width: 40%; 
  padding-left: var(--spacingone);
 
} 

.styled-table td {
  padding: 12px 15px; 
  text-align: right;
} 

.styled-table td {
  border-bottom: thin solid #dddddd;
}

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #FFF;
	will-change: opacity, transform;
	/* box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff; */
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid grey;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

@media screen and (max-width: 900px) {  

  
  /* column width */ 

.tabletL-col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 0.5%);
}

.tabletL-col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 0.5%);
}

.tabletL-col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 0.5%);
}

.tabletL-col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 0.5%);
}

.tabletL-col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 0.5%);
}

.tabletL-col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 0.5%);
}

.tabletL-col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 0.5%);
}

.tabletL-col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 0.5%);
}

.tabletL-col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 0.5%);
}

.tabletL-col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 0.5%);
}

.tabletL-col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 0.5%);
}

.tabletL-col-12 {
  flex: 0 0 100%;
} 

.test3 {
  background-color: rgb(202, 27, 27);
} 

.TabletL-w-100 {
  width: 100%;
} 

.TabletL-w-90 {
  width: 90%;
}

.TabletL-w-75 {
  width: 75%;
}

.TabletL-w-50 {
  width: 50%;
}

.TabletL-w-25 {
  width: 25%;
}

.Tablet-overflow {
  overflow-x: scroll;
}    

.flexclear { 
  align-items: flex-start; 
} 
.pagemarginleft-tablet {
  margin-left: 5%;
} 
.pagemarginright-tablet {
  margin-right: 5%;
} 
.padding-left {
  padding-left: 2px;
} 
.overflow {
  overflow-x: scroll;
}   

.overflowparent {
  width: 800px;
}    

/* #card2 {
  line-height: 1.2; 
} */

}  


@media screen and (max-width: 850px) {  
  .overflowparent {
    width: 750px; 
  }  
  .tablet-none {
    display: none;
  } 
  .tablet-show {
    display: block;
  } 
  .tablet-margin-top{
    margin-top: var(--spacingone);
  }
  /* #card1 {
    width:200px ; 
  }  */

  /* #card1 img {
    height: 40%;
  } */
} 

@media screen and (max-width: 750px) {  
  .TabletS-w-100 {
    width: 100%;
  }  
  .TabletS-w-90 {
    width: 90%;
  } 
  .TabletS-none {
    display: none;
  } 
  .TabletS-show {
    display: flex;
  }  

  .tablet-col {
    flex-direction: column;
  } 

  .tablet-center {
    align-content: center; 
    align-items: center;
  } 

  #buffer {
    height: 75px;
  }

  /* sidebar Nav */

.navBar {
  /*position: relative;*/ 
  position: fixed; 
  z-index: 10; 
}  

.navBar button { 
  background: transparent;;
  border: none; 
  z-index: 10;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: rgb(44, 44, 44);
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

.sidenav {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
} 

header {
  top: 0  /* why was my top 96 for signup page??? */
} 
}

@media screen and (max-width: 435px) {    

  .mobile-col {
    flex-direction: column;
  } 

  .mobile-col-reverse{
    flex-direction: column-reverse;
  }

  .mobile-w-100 {
    width: 100%;
  }  

  .mobile-h-100{
    height:100%;
  }

  .marginreset {
    margin: 0px;
  } 

  #buffer {
    height: 55px;
  } 

  /* #card1 {
    width: 250px; 
  }  */

  .mobile-margin-top { 
     margin-top: var(--spacingone);
} 

.mobile-show {
  display: flex;
} 

.mobile-hide {
  display: none;
} 

.mobile-center {
  align-content: center; 
  align-items: center;
} 

/* #card2 {
  line-height: 1.5;
}  */

.h-100{
  height: 250px
} 

.border-reset {
  border: 0;
}
.imagecrop {
  height: auto 
} 

.icon-size {
  width: 24px; 
  height: 24px; 
}
} 
